.deviceCont {
  border-radius: 5px;
  padding-bottom: 5vh;
  min-height: 60vh;
  background: linear-gradient(161.64deg, #2b2b2b -7.22%, #181818 114.66%);
  color: white;
  p {
    font-size: 1em;
  }
  .header-2 {
    padding: 4vh 0;
    display: flex;
    align-items: center;
    .txt {
      h1 {
        font-size: 1.4em;
        margin-bottom: 0.5vh;
      }
      p {
        font-size: 1em;
        color: #9d9ba8;
      }
    }
    .nextbtn {
      color: white;
      background-color: #245fd3;
      font-family: Poppins;
      margin: 0 2%;
      padding: 1.5% 7%;
    }
  }
  .body-1 {
    .back {
      margin-top: 15%;
    }
  }
}
