.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  .tabs {
    display: flex;
    justify-content: center;
    width: 100%;

    .tab {
      margin: 24px 20px 0;
      text-decoration: none;
      color: black;
    }
  }

  .login-signup {
    display: flex;
    justify-content: center;
    align-items: baseline;

    a {
      text-decoration: none;
    }

    .tab {
      margin: 24px 40px 0;
      text-decoration: none;
      color: black;
    }

    .button {
      color: white;
      height: 36px;
      width: 130px;
      font-family: Poppins, 'sans-serif';
    }
  }

  .user-2 {
    width: max-content;
    flex-basis: 25vw;
    text-align: right;
    font-size: 1.1em;
  }
}
