.container {
  width: 100vw;
  padding: 1vh 0;
  background-color: #245fd3;
  color: white;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 11vw;
}

.user {
  text-align: right;
  display: flex;
}

.dashboarduser {
  font-size: 1.1em;
  /* font-weight: 600; */
  margin-right: 30px;
}

.dashboarduser a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 784px) {
  .inner {
    padding: 0 5vw;
  }
}
